@media screen
{
    header
    {
        display: flex;
        justify-content: center;
    }
    #dialogue
    {
        display: flex;
    }
    #user_question
    {
        display: auto;
    }

@media (max-width: 480)
{
    legend, label, 
    {
        display: none;
    }
    
}