<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Jean-Baptiste">
    <title>GrandPy Bot, le papy robot</title>
    <link rel="stylesheet" href="../static/bootstrap-5.0.1-dist/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <body>
        <div id = "data">
        {{data}}
        </div>
    </body>