<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Jean-Baptiste">
    <title>GrandPy Bot, le papy robot</title>
    <link rel="stylesheet" href="../static/bootstrap-5.0.1-dist/css/bootstrap.min.css"/>
    <script src="../static/script.js" defer></script>

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
  </head>
  <body>
    
<main>
  <div class="container py-4">
    <header class="pb-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        <img src="../static/papy.png" class="col-1">
        <span class="fs-4">GrandPy, raconte moi une histoire</span>
      </a>
    </header>

    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
                <h1 class="display-5 fw-bold">Boite de dialogue</h1>
                {% if user_question_dialogue != "None": %} 
                <ul id = "dialogueUl" >
                  <li >
                <section class="col-6" id="map">
                    <p>{{adress}}</p>
                    <img src={{map}} class="img-fluid" alt="image de la carte de l'adresse">/>
                </section>
                <section class="col-6" id="history">
                    <p>
                        {{history}}
                    </p>
                </section>
                <section class="col-12" id="user_question_dialogue">
                    {{user_question_dialogue}}
                </section>
                {% endif %}
                </li>
              </ul>
      </div>
      <section class="row" id="form">
        <form action="/" method="GET" id="data_form">
            <fieldset>
                <div class="text">
                    <label for="user_question ">votre question</label>
                    <input type="text" name="user_question" id="user_question" class="col-12" placeholder="Tapez votre question" autofocus required />
                </div>
            </fieldset>
        </form>
    </section>

    </div>
    <footer class="pt-3 mt-4 text-muted border-top">
        <adress class="col-12">Jean-Baptiste Baillet</adress>
        <section>
        <a href="https://github.com/jbbaillet85/GrandPyBot-le-papy-robot">
            <img class="col-1" id="github" src="../static/logo_github.png" alt="lien vers mon Github"/>
        </a>
        <a href="https://www.linkedin.com/in/jean-baptiste-baillet/">
            <img class="col-1" id="linkedin" src="../static/logo_linkedin.png" alt="lien vers mon Linkedin" />
        </a>
        </section>
    </footer>
  </div>
</main>


    
  </body>
</html>
