<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="with=device-with,initial=scale=1">
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/script.js" defer></script>
    <title>GrandPy Bot, le papy robot</title>
</head>
<body>
<header>
    <img src="../static/logo.jpg">
    <h1>GrandPy, raconte moi une histoire</h1>
</header>
    <section class="dialogue" id="dialogue">
        <section class="map" id="map">
            <figure>{{map}}</figure>
        </section>
        <section class="history" id="history">
            <p>
                {{history}}
            </p>
        </section>
        <section class="user_question_dialogue" id="user_question_dialogue">
            {{user_question_dialogue}}
        </section>
    </section>
    <section class="form" id="form">
        <form action="grandPyBotApp\templates\index.html" method="POST" id="data_form">
            <fieldset>
                <legend>Tapez votre question</legend>
                <div class="text">
                    <label for="user_question ">votre question</label>
                    <input type="text" name="user_question" id="user_question" placeholder="votre question" required accesskey=""></textarea>>
                </div>
            </fieldset>
        </form>
    </section>
<footer>
    <p>Jean-Baptiste Baillet</p>
    <a href="https://github.com/jbbaillet85/GrandPyBot-le-papy-robot">
        <img class="github" id="github" src="../static/logo_github.png" alt="lien vers mon Github"/>
    </a>
    <a href="https://www.linkedin.com/in/jean-baptiste-baillet/">
        <img class="linkedin" id="linkedin" src="../static/logo_linkedin.png" alt="lien vers mon Linkedin" />
    </a>
</footer>
</body>
</html>